.notfound {
  background-color: rgba(225, 225, 225, 0.558);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__wrapper {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 50px;
    border-radius: 25px;
  }

  &__photo {
    flex: 7;
  }

  &__img {
    object-fit: contain;
    width: 450px;
    height: 450px;
    transition: transform 2s;

    &:hover {
      transform: scale(1.1);
      transition-timing-function: ease-in-out;
    }
  }

  &__cover {
    flex: 4;
  }

  &__title {
    margin-bottom: 32px;
    font-size: 64px;
    color: rgba(144, 140, 140, 0.814);
  }

  &__txt {
    margin-bottom: 48px;
    font-size: 18px;
    color: #060e50d0;
    letter-spacing: 1.5px;
  }

  &__mark {
    color: orange;
  }
}
